body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("image.jpeg") no-repeat center center fixed ;
    background-size: cover;
}

.container {
    text-align: center;
    color: white;
}

h1 {
    color: goldenrod
}

#message-el {
    font-style: italic;
}

button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
   
    color: #016f32;
    width: 220px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    background: goldenrod;
   
    border: none;
    border-radius: 5px;
    padding-top: 3px;
    margin-bottom: 7px;
}